.dashboard {
  background: #f1f1f1;
  position: absolute;
  width: 100%;
  .action-buttons {
    position: absolute;
    right: 450px;
    top: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    &.list-mode {
      right: 20px;
      .action-button {
        border: 1px solid black;
      }
    }
    .action-button {
      background: white;
      border-radius: 2px;
      margin-left: 10px;
      font-size: 24px;
      cursor: pointer;

      &.new-place {
        padding: 6px 13px;
      }
      &.map-view {
        padding: 5px 5px 4px 11px;
      }
    }
  }
  .chicken-places-list {
    position: absolute;
    width: 390px;
    height: 100%;
    right: 0px;
    top: 0px;
    margin: 0px;
    background: white;
    border-left: 1px solid black;
    .column-headers {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      span {
        font-weight: bold;
        margin: 10px 20px;
      }
    }
    .chicken-places {
      .chicken-place {
        cursor: pointer;
        border-bottom: 1px solid darkgray;
        display: flex;
        justify-content: space-between;
        span {
          margin: 10px 20px;
        }
        &:last-child {
          // border-bottom: none;
        }
        .chicken-place-score {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
.modal-background {
  position: absolute;
  z-index: 10;
  width: calc(100% - 400px);
  height: calc(100% - 100px);
  background: rgba(0, 0, 0, .8);
}
.new-place-form {
  position: absolute;
  top: 100px;
  right: 0;
  width: 350px;
  height: calc(100% - 140px);
  border-left: 1px solid black;
  background: white;
  z-index: 15;
  display: flex;
  flex-direction: column;
  padding: 20px;
  // max-height: 500px;
  // max-width: 400px;
  overflow: auto;
  .input-label {
    margin-bottom: 10px;
    &.description {
      font-weight: bold;
    }
  }
  input {
    margin-bottom: 20px;
  }
  textarea {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .place-name-input {
    height: 30px;
  }
  .modal-buttons {
    display: flex;
    justify-content: end;
    span {
      cursor: pointer;
      margin-left: 20px;
      border: 1px solid black;
      border-radius: 3px;
      padding: 5px 10px;
    }
  }
}

#map {
  position: absolute;
  top: 100px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.places-container {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 450px;
  .places-input {
    height: 40px;
    border: none;
    padding: 0px 5px;
    width: 150px;
    position: absolute;
    right: 0px;
    box-shadow: lightgray 0px 0px 4px 1px;
    border-radius: 1px;
  }
  .places-results {
    position: absolute;
    background: white;
    top: 50px;
    width: 210px;
    right: -50px;
    display: flex;
    flex-direction: column;
    box-shadow: gray 0px 3px 6px 2px;
    border-radius: 3px;
    .places-result {
      padding: 0px 10px;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover {
        background: #f1f1f1;
      }
    }
  }
}

.no-reviews {
  padding: 25px;
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100vh - 150px);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
